<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <a class="link-right" href="/shows">Go Back</a>
        <h1 class="header">TV Show {{ show.id }}</h1>
        <p>Title: {{ show.title }}</p>
        <p>Network: {{ show.network }}</p>
        <p>Release Date: {{ show.release_date }}</p>
        <p>Description: {{ show.desc }}</p>
    </div>
    <div class="edit-container">
        <p>Last Updated: {{ show.updated_at }}</p>
        <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a>
    </div>
    
</body>
</html>