body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

table {
    color: #333;
    width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 3px solid black;
    margin-left: 200px;
}

td, th {
    border: 1px solid transparent;
    height: 30px;
}

th {
    background: #DFDFDF;
    font-weight: bold;
    text-align: left;
}

td {
    background: #FAFAFA;
    text-align: left;
}

tr:nth-child(even) td {
    background: #F1F1F1;
}

tr:nth-child(odd) td {
    background: #FEFEFE;
}

.link-right {
    margin-left: 85%;
}

.form-container {
    width: 600px;
    margin: 10px auto;
}

.center-text {
    text-align: center;
}

.btn-create {
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-left: 200px;
}

button:hover {
    cursor: pointer;
}

.header {
    margin-bottom: 100px;
}

.edit-container {
    margin-top: 150px;
}

.link-center {
    margin-left: 625px;
}

.error {
    color: red;
    margin-left: 400px;
}